.estadoverde{
    background:#2BD428;
    padding:8px 10px;
    border-radius:30px;
    font-weight:400;
    font-size:14px;
}
.estadoamaralillo{
    background:#F6F22F;
    padding:8px 10px;
    border-radius:30px;
    font-weight:400;
    font-size:14px;
}
.estadorojo{
    background:#D4230B;
    padding:8px 10px;
    border-radius:30px;
    font-weight:400;
    font-size:14px;
}
.estadonaranaja{
    background:#F6723B;
    padding:8px 10px;
    border-radius:30px;
    font-weight:400;
    font-size:14px;
}
