.card {
    position: relative;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 800px;
    margin: 0 auto;
}

.card:hover {
    /* box-shadow: 0 5px 22px 0 rgba(0,0,0,.25); */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}

label {
    margin: 10px 0;
}


select,option {
    margin: 0 0 20px 0;
    padding: 12px 5%;
    width: 90%;
    height: 50px;
    border: 0;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: #2C3E50;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
input,textarea,select,option {
    margin: 0 0 20px 0;
    padding: 12px 5%;
    width: 90%;
    border: 0;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: #2C3E50;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.title {
    font-size: 3.444rem;
    color: #1d3247;
    text-align: center;

}

.btnregistro {
    background-color: #2ECC71;
    padding: 10px;
    margin: 20px;
    position: relative;
    color: #FFF;
    font-size: 30px;
    cursor: pointer;
}

.btnregistro:hover {
    box-shadow: 0 5px 22px 0 rgba(0, 0, 0, .25);
    transition: all .2s ease-in-out;

}