.img-productshow img{
    object-fit: cover;
    width:100%;
    position: center;
        height: 400px;

}
.price{
    background:#FFC069;
    padding:8px 10px;
    border-radius:30px;
    font-weight:400;
    font-size:14px;
}


.stock{
    background:#eb5ae5;
    padding:8px 10px;
    border-radius:30px;
    font-weight:400;
    font-size:14px;
}
